.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 20px;
}
@media (max-width: 480px) {
    .filters {
        width: 385px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 481px) and (max-width: 992px){
    .filters {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
}
.filters button:hover {
    opacity: 90%;
}
.locations {
    border-right: 1px solid #DDDDDD;
}
.filters .locations, .filters .amenities {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
@media (max-width: 480px) {
    .filters .locations, .filters .amenities {
        display: none;
    }
}
.filters .locations h3, .filters .amenities h3 {
    font-weight: 600;
    margin-left: 30px;
}
.filters .locations h4, .filters .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 30px;
}
@media (max-width: 768px) {
    .filters .locations h4, .filters .amenities h4 {
        display: none;
    }
}
ul.popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    position: absolute;
    margin-top: 70px;
    top: -1px;
    padding: 20px;
    z-index: 1;
}
ul.popover h2 {
    font-size: 16px;
}
.filters div:hover .popover {
    display: block;
}
